<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title><%=person%></title>
  <style media="screen">
    body {
      background: skyblue;
      font-family: verdana;
      color: #fff;
      padding: 30px;
    }

    h1 {
      font-size: 48px;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center
    }
  </style>
</head>

<body>
  <!-- including partial views in ejs -->
  <% include partials/nav.ejs %>

  <h1>Welcome <%=person%> to Nabesh.ke</h1>
  <p><strong>Age: </strong><%= data.age %></p>
  <p><strong>Job: </strong><%= data.job %></p>
  <h2>Hobbies</h2>
  <ol>
    <!-- <%# embending js code  %> -->
    <% data.hobbies.forEach(function (item){ %>
    <li><%= item %></li><% }); %>
  </ol>
</body>
</html>
